CREATE DATABASE QuanLiNT
USE QuanLiNT

----TAO BANG----
CREATE TABLE THUOC
(MATHUOC NVARCHAR(20), TENTHUOC NVARCHAR (30), NHASANXUAT NVARCHAR(30),
 HANSUDUNG DATETIME,XUATXU NVARCHAR (30),TACDUNG NVARCHAR (50),PRIMARY KEY (MATHUOC));
 CREATE TABLE KHACHHANG
 (MAKH NVARCHAR (20), TENKH NVARCHAR (30),SDT INT,PRIMARY KEY(MAKH));
 CREATE TABLE NHAPTHUOC
 (MATHUOC NVARCHAR (20),TENTHUOC NVARCHAR (30), NHASANXUAT NVARCHAR(30),
 HANSUDUNG DATETIME,NGAYNHAP DATETIME,NGUOINHAP NVARCHAR (30),TACDUNG NVARCHAR (50));
 CREATE TABLE XUATTHUOC
 (MATHUOC NVARCHAR (20),TENTHUOC NVARCHAR (30), NHASANXUAT NVARCHAR(30),
 HANSUDUNG DATETIME, NGAYXUAT DATETIME, TENKH NVARCHAR (30),TACDUNG NVARCHAR (50));
 
 ----NHAP DU LIEU BANG THUOC-----
 INSERT INTO THUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,XUATXU,TACDUNG) 
 VALUES ('DX1','Paracetamol','APAP Company','2019-8-21','USA',N'Giảm đau,hạ sốt');
  INSERT INTO THUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,XUATXU,TACDUNG) 
 VALUES ('DX2','Aspirin','ATOP','2020-11-20','ENGLAND',N'Giảm đau,hạ sốt');
  INSERT INTO THUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,XUATXU,TACDUNG) 
 VALUES ('DR2','Panadol','Sterling Drug','2019-9-29','MALAYSIA',N'Giảm đau,hạ sốt');
 
 ----NHAP DU LIEU BANG KHACH HANG-----
 INSERT INTO  KHACHHANG(MAKH,TENKH,SDT) VALUES ('DK1',N'Nguyễn Văn Tèo',0123456789);
 INSERT INTO KHACHHANG(MAKH,TENKH,SDT) VALUES ('DK2',N'Phạm Thành',0987654321);
 INSERT INTO KHACHHANG(MAKH,TENKH,SDT) VALUES ('MX1',N'Trần Sang',0356784325);
 
 ----NHAP DU LIEU BANG NHAP THUOC-----
 INSERT INTO NHAPTHUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,NGAYNHAP,NGUOINHAP,TACDUNG)
  VALUES ('UC3','Kirkland ','Glucosamine HCL','2020-10-10','2018-11-20',N'Nguyễn Huy',N'Trị đau khớp');
 INSERT INTO NHAPTHUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,NGAYNHAP,NGUOINHAP,TACDUNG)
  VALUES ('IT2','Ginkgo Biloba','Gluco SC','2021-3-12','2018-11-20',N'Nguyễn Nhật',N'Trị thiếu máu não');
  INSERT INTO NHAPTHUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,NGAYNHAP,NGUOINHAP,TACDUNG)
  VALUES ('VDL',' Puritans Pride','Q-Sorb Co','2021-12-12','2018-11-20',N'Nguyễn Huy',N'Trị thiếu máu não');
   
 ----NHAP DU LIEU BANG XUAT THUOC-----
INSERT INTO XUATTHUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,NGAYXUAT,TENKH,TACDUNG)
  VALUES ('DP28','Folic Acid','Puritan Company','2020-12-12','2018-11-14',N'Đinh Thị Hiếu','Trị thiếu máu');
  INSERT INTO XUATTHUOC(MATHUOC,TENTHUOC,NHASANXUAT,HANSUDUNG,NGAYXUAT,TENKH,TACDUNG)
  VALUES ('DC34','Migrin','Gingkobiloba','2021-4-5','2018-11-13',N'Nguyễn Tí',N'Trị thiếu máu não');

----XOA BANG----
DROP TABLE THUOC;
DROP TABLE KHACHHANG;
DROP TABLE NHAPTHUOC;
DROP TABLE XUATTHUOC;

---TAO RANG BUOC---
